@page "/revenuePerArticle"
@using AmazingArticles.Domain.Entities
@inject HttpClient Http

<h1>Revenues depending on article number</h1>

<p>This page shows all revenues per article.</p>

@if (_articles == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Article number</th>
                <th>Revenue (€)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var article in _articles)
            {
                <tr>
                    <td>@article.Key</td>
                    <td>@article.Value</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Dictionary<string, double> _articles;

    protected override async Task OnInitializedAsync()
    {
        _articles = await Http.GetFromJsonAsync<Dictionary<string, double>>("/api/Articles/TotalRevenuePerArticleNumber");
    }

}
